In [124]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Reading Data ðŸ“–

In [125]:
data = pd.read_csv('VideoGameUsage_Profile.csv')

## Exploring Data ðŸ”Ž

In [126]:
data.head()

,Age,Gender,student,play_video_game,favorite_game,most_played_game,reason_of_play_game
0,22,Male,Yes,Yes,FIFA 22,FIFA 22,competition
1,21,Male,Yes,Yes,Call of Duty,Call of Duty,entertainment
2,23,Male,Yes,Yes,GTA Vice City,GTA Vice City,entertainment
3,23,Male,Yes,sometimes,pubg,pubg,entertainment
4,23,Male,Yes,Yes,pubg,pubg,entertainment

In [127]:
data.shape

(99, 7)

In [128]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Age                  99 non-null     int64
 1   Gender               99 non-null     object
 2   student              99 non-null     object
 3   play_video_game      99 non-null     object
 4   favorite_game        99 non-null     object
 5   most_played_game     99 non-null     object
 6   reason_of_play_game  99 non-null     object
dtypes: int64(1), object(6)
memory usage: 5.5+ KB

In [129]:
data.isna().sum()

Age                    0
Gender                 0
student                0
play_video_game        0
favorite_game          0
most_played_game       0
reason_of_play_game    0
dtype: int64

In [130]:
data.describe(include='all')

,Age,Gender,student,play_video_game,favorite_game,most_played_game,reason_of_play_game
count,99.000000,99,99,99,99,99,99
unique,NaN,2,2,3,15,16,5
top,NaN,Male,Yes,Yes,Minecraft,Minecraft,entertainment
freq,NaN,92,89,76,25,25,85
mean,23.303030,NaN,NaN,NaN,NaN,NaN,NaN
std,1.281378,NaN,NaN,NaN,NaN,NaN,NaN
min,21.000000,NaN,NaN,NaN,NaN,NaN,NaN
25%,23.000000,NaN,NaN,NaN,NaN,NaN,NaN
50%,23.000000,NaN,NaN,NaN,NaN,NaN,NaN
75%,24.000000,NaN,NaN,NaN,NaN,NaN,NaN
max,27.000000,NaN,NaN,NaN,NaN,NaN,NaN

In [131]:
data['Gender'].value_counts()

Gender
Male     92
Femal     7
Name: count, dtype: int64

In [133]:
data['favorite_game'].value_counts()

favorite_game
Minecraft            25
GTA Vice City        21
Call of Duty         15
pubg                 11
FIFA 22               7
Animal Crossing       5
Stardew Valley        3
League of Legends     3
Apex Legends          2
Fortnite              2
Rocket League         1
Among Us              1
The Sims              1
Mario Kart            1
World of Warcraft     1
Name: count, dtype: int64

In [134]:
ReasonOfPlaying = data['reason_of_play_game'].value_counts()
print(ReasonOfPlaying)

reason_of_play_game
entertainment    85
relaxation        5
competition       4
creativity        4
GTA Vice City     1
Name: count, dtype: int64